<ion-view class="bgbody access" view-title="Access Denied" hide-back-button="true" scrollbar-x="false" scrollbar-y="false">
   <ion-nav-buttons side="left">
      <span class="left-buttons">
      <!-- <button class="button button-icon button-clear ion-navicon whtclr" menu-toggle="left"></button> -->
      </span>
   </ion-nav-buttons>
      <div>
          <div class="list ">
            <!-- <div class="logo_tb">
              <img src="img/tb-logo.png">
            </div> -->
            <div class="access_denied access_pad">
              <img src="img/access.png">
                <!-- <p>Access Denied!!!</p> -->
            </div>
          </div>
      </div>
</ion-view>