<ion-view view-title="Change Password" hide-back-button="true" scrollbar-x="false" scrollbar-y="false">
   <ion-nav-buttons side="left">
      <span class="left-buttons">
      <button class="button button-icon button-clear ion-navicon whtclr" menu-toggle="left"></button>
      </span>
   </ion-nav-buttons>
  <ion-content class="bgbody">
      			<div class="logo_tb">
      				<img src="img/tb-logo.png">
      			</div>
      			<div class="list-full">
                <form  ng-submit="changeForm.$valid && dochangePassword()" name="changeForm">
      					<label class="item item-input bord_no1">
      						<input type="password" class="algn_cent bgbody lefft text-input" placeholder='Old Password' name="old_pswrd" ng-model="pass.oldP"  ng-minlength="6" required>
      					</label>
                        <div class="error" ng-show="submitted && changeForm.old_pswrd.$error.required">Field empty.!</div>
                        <div class="error" ng-show="changeForm.old_pswrd.$touched && changeForm.old_pswrd.$invalid">Minimum characters is 6</div>
      					<label class="item item-input bord_no1">
      						<input type="password" class="algn_cent bgbody lefft text-input" placeholder='New Password' name="new_pswrd" ng-model="pass.newP" required ng-minlength="6">
      					</label>
                        <div class="error" ng-show="submitted  && changeForm.new_pswrd.$error.required">Field empty.!</div>
                        <div class="error" ng-show="changeForm.new_pswrd.$touched && changeForm.new_pswrd.$invalid">Minimum characters is 6</div>
                <label class="item item-input bord_no1">
                   <input type="password" class="algn_cent bgbody lefft text-input" placeholder='Re-type Password' name="re_pswrd" ng-model="rePassword" required data-password-verify="pass.newP">
                </label>
                        <div class="error" ng-show="submitted  && changeForm.re_pswrd.$error.required">Field empty.!</div>
                        <div class="error" ng-show="changeForm.new_pswrd.$touched && changeForm.re_pswrd.$error.passwordVerify">Password Mismatch</div>
      					         <br>
                         <div class= "message" ng-show="passwordMessage" >{{psswrdRes.message}}</div>
               					 <br>
        			     <button class="redclr" type="submit" ng-click="submitted=true">SAVE CHANGES</button>
              </form>
      			</div>
        </ion-content>
</ion-view>