<ion-view hide-nav-bar="true" class="bgbody">
<!--    <div class="landing">  total..del this when fb and gmail login-->
   <br>
   <br>
   <br>
   <br>
       <div class="" padding="true">
         <div class="list">
            <div class="logo_tb">
               <img src="img/tb-logo.png">
            </div>
         </div>
         <div class="list-full">
            <div class="list-fullno">
               <label class="item none">
                  <button class="sign_up" ng-click="sign_up()" menu-close="">SIGN UP</button>
               </label>
               <label>
                  <button class="redclr" ng-click="sign_in()" menu-close="">SIGN IN</button>
               </label>
             <p ng-click="forgot()" style="cursor: pointer;">Forgot Password?</p>
            </div>
         </div>
         <!-- <div class="outr_sign">
            <div class="row">
               <div class="col col-25">
                  <hr class="tb-hr">
               </div>
               <div class="col col-50">
                  <h5>OR SIGN IN WITH</h5>
               </div>
               <div class="col col-25">
                  <hr class="tb-hr">
               </div>
            </div>
         </div>
         <div class="social_outer">
            <button class="tb-fb" ng-click="facebookSignIn()" ng-disabled="true"><i class="icon icon-left ion-social-facebook size"></i> &nbsp;Login with Facebook</button>
            <button class="tb-google" ng-click="googleLogin()" ng-disabled="true"><i class="icon icon-left ion-social-google size"></i> &nbsp;Login to your Gmail Account </button>
         </div> -->
      </div>
<!--    </div>
 -->  
  
</ion-view>

