<ion-modal-view>
         <ion-header-bar align-title="left" class="artist-title-bg border">
        <div class="search_tit">
      filter bus name
      </div>
      <div class="board_search">
        <input type="text" placeholder="search" name="search" ng-model="s.searchBus" class="search_lense" />
      </div>
      <!-- <button class="search"></button> -->
   </ion-header-bar>
        <ion-content class="padding">
			
			<ul class="list">
<li class="item item-checkbox" ng-repeat="bus in travels | filter:s.searchBus ">
   {{bus.bus}}
   <label class="checkbox">
   <input type="checkbox" value = "{{bus.bus}}" ng-click="checkBus(bus.bus)">
   </label>
</li>

</ul>
			
		<button class="check_done" ng-click="modalBusName.hide()">DONE</button>	
			
        </ion-content>
      </ion-modal-view>