<ion-modal-view>
         <ion-header-bar align-title="left" class="artist-title-bg border">
      <div class="buttons">
         <button class="button back-button whtclr button-clear header-item" ng-click="$ionicGoBack()"><i class="icon ion-ios-arrow-back"></i>
         <span class="back-text" style="transform: translate3d(0px, 0px, 0px);"><span class="default-title">&nbsp;</span></span>
         </button>
      </div>
      <div class="tit">
      sort and filter
      </div>
      <button class="search"></button>
   </ion-header-bar>
        <ion-content class="padding">
			
			<ul class="list">
<li class="item item-checkbox">
   KPR Travels
   <label class="checkbox">
   <input type="checkbox">
   </label>
</li>

<li class="item item-checkbox">
    KPR Travels
   <label class="checkbox">
   <input type="checkbox">
   </label>
</li>

<li class="item item-checkbox">
    KPR Travels
   <label class="checkbox">
   <input type="checkbox">
   </label>
</li>

<li class="item item-checkbox">
   KPR Travels
   <label class="checkbox">
   <input type="checkbox">
   </label>
</li>

</ul>
			
		<button class="check_done" ng-click="modal3.hide()">DONE</button>	
			
        </ion-content>
      </ion-modal-view>