 <ion-modal-view class="popvieww">
	 <ion-scroll  direction="y" style="height: 300px">
<div class="popover_out">
	<P>TRIP DETAILS</P>
	
	<div class="trip_dtl">
<div class="row">
  <div class="col">
	<div class="travels_tb">
	<img src="img/travel.png">
	 <div class="tb_tour mlft">
                   
                           <span class="font_dcr wght"> KTC Tours</span>
                           <br>
                           <div class="tb_tour_type">Volvo A/C Semisleeper(2+2)</div>
                        </div>
	</div>
	
	</div>
  <div class="col">
	  <div class="travels_tb">
		<img src="img/tb_board.png">
	 <div class="tb_tour mlft">
                   
                           <span class="font_dcr wght"> 09.00 AM-01.00 PM</span>
                           <br>
                           <div class="tb_tour_type">Duration 3.5 Hrs</div>
                        </div>
	</div>
	
	</div>
	  
	
	
	  
	</div>
		
		<div class="row">
  <div class="col">
	<div class="travels_tb">
	<img src="img/tb_board.png">
	 <div class="tb_tour mlft">
                   
                           <span class="font_dcr wght"> Koratty</span>
                           <br>
                           <div class="tb_tour_type">Duration 3.5 Hrs</div>
                        </div>
	</div>
	
	</div>
  <div class="col">
	&nbsp;
	
	</div>
	  
	
	
	  
	</div>
		
		
	</div>
	<br>
	
	<P class="trav_dtl">TRAVELLERS DETAILS</P>
	
	<div class="list_travel">
		
	<div class="list_travel1">

	<div class="travels_tb logins">
	<img src="img/login.png">
	 <div class="tb_tour mlft">
                   
                           <span class="font_dcr wght">Name</span>
                           <br>
                           <div class="tb_tour_type"> Male Age 23</div>
                        </div>
	</div>
	</div>
		
			
	<div class="list_travel2">
	
<div class="travels_tb">
	
                   
                           <span class="font_dcr wght">C6</span>
                          
                       
	</div>
	
	
	</div>
	
		
			<div class="list_travel3">
	
	
<div class="tb_tour_type">Booking</div>
	
	</div>
	
	
	
	</div>
	
	
		<div class="list_travel">
		
	<div class="list_travel1">

	<div class="travels_tb logins">
	<img src="img/login.png">
	 <div class="tb_tour mlft">
                   
                           <span class="font_dcr wght">Name</span>
                           <br>
                           <div class="tb_tour_type"> Male Age 23</div>
                        </div>
	</div>
	</div>
		
			
	<div class="list_travel2">
	
<div class="travels_tb">
	
                   
                           <span class="font_dcr wght">C6</span>
                          
                       
	</div>
	
	
	</div>
	
		
			<div class="list_travel3">
	
	
<div class="tb_tour_type">Booking</div>
	
	</div>
	
	
	
	</div>
	
			<div class="list_travel">
		
	<div class="list_travel1">

	<div class="travels_tb logins">
	<img src="img/login.png">
	 <div class="tb_tour mlft">
                   
                           <span class="font_dcr wght">Name</span>
                           <br>
                           <div class="tb_tour_type"> Male Age 23</div>
                        </div>
	</div>
	</div>
		
			
	<div class="list_travel2">
	
<div class="travels_tb">
	
                   
                           <span class="font_dcr wght">C6</span>
                          
                       
	</div>
	
	
	</div>
	
		
			<div class="list_travel3">
	
	
<div class="tb_tour_type">Booking</div>
	
	</div>
	
	
	
	</div>
	

	<div class="total_amt">Total Amount RS:300</div>
	
	
	
	</div>
	
	
	
	 </div>
	</ion-scroll>
</ion-popover-view>